In [17]:
import findspark

In [18]:
findspark.init('C:\spark')

In [19]:
from pyspark.sql import SparkSession

In [20]:
spark = SparkSession.builder.appName("Basics").getOrCreate()

In [21]:
dataset = spark.read.format("csv").option("header","true").load("statesPopulation.csv")

In [22]:
dataset.show()

+--------------------+----+----------+
|               State|Year|Population|
+--------------------+----+----------+
|             Alabama|2010|   4785492|
|              Alaska|2010|    714031|
|             Arizona|2010|   6408312|
|            Arkansas|2010|   2921995|
|          California|2010|  37332685|
|            Colorado|2010|   5048644|
|            Delaware|2010|    899816|
|District of Columbia|2010|    605183|
|             Florida|2010|  18849098|
|             Georgia|2010|   9713521|
|              Hawaii|2010|   1363945|
|               Idaho|2010|   1571010|
|            Illinois|2010|  12841578|
|             Indiana|2010|   6490528|
|                Iowa|2010|   3050738|
|              Kansas|2010|   2858850|
|            Kentucky|2010|   4348662|
|           Louisiana|2010|   4544996|
|               Maine|2010|   1327730|
|            Maryland|2010|   5788584|
+--------------------+----+----------+
only showing top 20 rows

In [23]:
dataset.schema

StructType(List(StructField(State,StringType,true),StructField(Year,StringType,true),StructField(Population,StringType,true)))

In [24]:
dataset.printSchema()

root
 |-- State: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Population: string (nullable = true)

In [25]:
from pyspark.sql.types import(StructField, StringType,
                                 FloatType,IntegerType, StructType)

In [26]:
data_schema=[StructField("State",StringType(),True),
            StructField("Year",StringType(),True),
            StructField("Population",FloatType(),True)]

In [27]:
final_struct = StructType(fields = data_schema)

In [28]:
dataset = spark.read.format("csv").option("header","true").schema(final_struct).load("statesPopulation.csv")

In [29]:
dataset.printSchema()

root
 |-- State: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Population: float (nullable = true)

In [30]:
dataset.show()

+--------------------+----+-----------+
|               State|Year| Population|
+--------------------+----+-----------+
|             Alabama|2010|  4785492.0|
|              Alaska|2010|   714031.0|
|             Arizona|2010|  6408312.0|
|            Arkansas|2010|  2921995.0|
|          California|2010|3.7332684E7|
|            Colorado|2010|  5048644.0|
|            Delaware|2010|   899816.0|
|District of Columbia|2010|   605183.0|
|             Florida|2010|1.8849098E7|
|             Georgia|2010|  9713521.0|
|              Hawaii|2010|  1363945.0|
|               Idaho|2010|  1571010.0|
|            Illinois|2010|1.2841578E7|
|             Indiana|2010|  6490528.0|
|                Iowa|2010|  3050738.0|
|              Kansas|2010|  2858850.0|
|            Kentucky|2010|  4348662.0|
|           Louisiana|2010|  4544996.0|
|               Maine|2010|  1327730.0|
|            Maryland|2010|  5788584.0|
+--------------------+----+-----------+
only showing top 20 rows

In [31]:
import pandas as pd

In [33]:
dfstate=dataset.select("State").distinct().show(100)

+--------------------+
|               State|
+--------------------+
|                Utah|
|              Hawaii|
|           Minnesota|
|                Ohio|
|            Arkansas|
|              Oregon|
|               Texas|
|        North Dakota|
|        Pennsylvania|
|            Nebraska|
|             Vermont|
|              Nevada|
|          Washington|
|            Illinois|
|            Oklahoma|
|District of Columbia|
|            Delaware|
|              Alaska|
|          New Mexico|
|       West Virginia|
|            Missouri|
|        Rhode Island|
|             Georgia|
|             Montana|
|            Michigan|
|            Virginia|
|      North Carolina|
|             Wyoming|
|              Kansas|
|          New Jersey|
|            Maryland|
|             Alabama|
|             Arizona|
|                Iowa|
|       Massachusetts|
|            Kentucky|
|           Louisiana|
|         Mississippi|
|       New Hampshire|
|           Tennessee|
|             Florida|
|             Indiana|
|               Idaho|
|      South Carolina|
|        South Dakota|
|          California|
|            New York|
|           Wisconsin|
|            Colorado|
|               Maine|
+--------------------+

In [34]:
type(dfstate)

NoneType

In [45]:
dataset.createOrReplaceTempView("states")
dfstate = spark.sql("SELECT State,Sum(Population) FROM states GROUP BY State ORDER BY State asc")

In [46]:
dfstate.show()

+--------------------+---------------+
|               State|sum(Population)|
+--------------------+---------------+
|             Alabama|    3.3771238E7|
|              Alaska|      5121020.0|
|             Arizona|    4.6518355E7|
|            Arkansas|    2.0703849E7|
|          California|   2.68280584E8|
|            Colorado|    3.6963486E7|
|            Delaware|      6481217.0|
|District of Columbia|      4520704.0|
|             Florida|   1.37618322E8|
|             Georgia|    7.0021737E7|
|              Hawaii|      9810173.0|
|               Idaho|    1.1332575E7|
|            Illinois|    8.9960023E7|
|             Indiana|    4.5954907E7|
|                Iowa|    2.1648921E7|
|              Kansas|    2.0219806E7|
|            Kentucky|    3.0777934E7|
|           Louisiana|    3.2348737E7|
|               Maine|      9305583.0|
|            Maryland|    4.1431692E7|
+--------------------+---------------+
only showing top 20 rows

In [39]:
dataset.orderBy(dataset["Population"].desc()).select(["State", "Population"]).show()

+----------+-----------+
|     State| Population|
+----------+-----------+
|California|3.9250016E7|
|California| 3.899394E7|
|California|3.8680808E7|
|California|3.8335204E7|
|California|3.8011072E7|
|California| 3.767686E7|
|California|3.7332684E7|
|     Texas|2.7862596E7|
|     Texas| 2.742964E7|
|     Texas|2.6944752E7|
|     Texas|2.6473524E7|
|     Texas|2.6071656E7|
|     Texas|2.5646388E7|
|     Texas| 2.524431E7|
|   Florida| 2.061244E7|
|   Florida|2.0244914E7|
|   Florida| 1.988874E7|
|  New York|1.9747184E7|
|  New York|1.9745288E7|
|  New York|1.9718516E7|
+----------+-----------+
only showing top 20 rows